<?xml version="1.0" encoding="utf-8"?>
<manifest package="matthew.pecompass"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/pic_1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".components.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".components.activities.RegisterActivity"/>
        <activity android:name=".components.activities.SplashActivity">
        </activity>
        <activity android:name=".components.activities.IndexActivity">
        </activity>
        <activity android:name=".components.activities.RatingActivity">
        </activity>
        <activity android:name=".components.activities.RecommendActivity">
        </activity>
        <activity android:name=".components.activities.RewardActivity">
        </activity>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>